# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Secrets and config
.streamlit/secrets.toml

# Logs and temporary files
*.log
*.tmp

# IDE/editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
